<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorator=""
>

 <head th:replace="header :: header">

<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<div  th:replace="menuprincipale :: menuprincipale"> </div> 

        
 <div class="header-advance-area">
 <div lang="en" th:replace="hedearBody :: hedearBody"> </div> 

<div class="contraint" style="margin-left: 17%;">

	<div class="row">
 		
 		<div class="contraint" style="margin-right: 2%;">
 		
         <div class="analytics-sparkle-area" style="margin-top: 7%;">
         
         
         
        </div> 
         </div>
         </div>
     </div>
 
 
 
 
 <div lang="en" th:replace="script :: script"> </div> 

</body>
</html>